body {
    padding: 180px;
}

.submit-area {
    margin-top: 40px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}

#transaction-area {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}

.status {
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    color: #fff;
}